

* {
	font: 16px "Verdana", sans-serif;
	color: #bcbbbb;
}

.max {
	max-width: 1200px;
}

.container {
	max-width: 1200px
}

.row {
	max-width: 1200px;
}

h1 {
	font: 100 50px "Roboto", sans-serif;
	color: #bcbbbb;
	text-align: right;
}

h2 {
	font: 400 36px "Roboto", sans-serif;
	color: #bcbbbb;
	font-weight: 400;
}

h3 {
	font: 400 17px "Roboto", sans-serif;
	color: #747705;
	border-width: 3px;
	border-color: #bcbbbb;
	text-align: right;
}

h4 {
	font: 400 50px 'Roboto', sans-serif;
	color: #747704;
	text-align: center;
}

a {
	font: 16px "Roboto", sans-serif;
	color: #bcbbbb;
}

p {
	text-align: center;
}

hr {
	border-width: 5px;
}