*{
	font-family: 'Verdana', sans-serif;
	line-height: 200%;
	color: #BCBBBB;
	font-size: 16px;
}

h1{
	font-family: 'Roboto', sans-serif;
	color: #BCBBBB;
	font-size: 50px;
	font-weight: 100;
}

h2{
	font-family: 'Roboto', sans-serif;
	color: #BCBBBB;
	font-weight: 400;
}

h3{
	font-family: 'Roboto', sans-serif;
	color: #747705;
	font-size: 17px;
	font-weight: 400;
	border-width: 3px;
	border-color: #BCBBBB;
}
h4{
	font-family: 'Roboto', sans-serif;
	color: #747704;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
}
a{
	font-family: "Roboto", sans-serif;
	color: #BCBBBB;
}
p{
	text-align: center;
}
hr{
	border-width: 5px;
}